# Assignment 10: Join and Merge in SQL

## Introduction

For this assignment, you will continue working with SQL databases. This time, you should use Python to write the SQL questies. If possible, please submit your answers in HTML format. The data and questions are listed below.

In [21]:
%load_ext sql

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

In [22]:
%sql postgresql+psycopg2://gabeschwartz:postgres@localhost:5432/postgres

In [25]:
%%sql
DROP TABLE IF EXISTS directors CASCADE;
DROP TABLE IF EXISTS movies CASCADE;
CREATE TABLE directors (
    director_id SERIAL PRIMARY KEY,
    director_name VARCHAR(100),
    country VARCHAR(50),
    birth_year INT,
    awards INT
);

CREATE TABLE movies (
    movie_id SERIAL PRIMARY KEY,
    title VARCHAR(100),
    director_id INT,
    release_year INT,
    box_office DECIMAL(12,2),
    rating DECIMAL(3,1),
    FOREIGN KEY (director_id) REFERENCES directors(director_id)
);

INSERT INTO directors (director_name, country, birth_year, awards) VALUES
('Christopher Nolan', 'UK', 1970, 5),
('Greta Gerwig', 'USA', 1983, 3),
('Bong Joon-ho', 'South Korea', 1969, 4),
('Sofia Coppola', 'USA', 1971, 2),
('Pedro Almod√≥var', 'Spain', 1949, 6),
('Agn√®s Varda', 'France', 1928, 4);

INSERT INTO movies (title, director_id, release_year, box_office, rating) VALUES
('Oppenheimer', 1, 2023, 950000000.00, 8.5),
('Barbie', 2, 2023, 1440000000.00, 7.0),
('Parasite', 3, 2019, 258773645.00, 8.9),
('Lost in Translation', 4, 2003, 119723856.00, 7.7),
('Pain and Glory', 5, 2019, 38219573.00, 7.5),
('Faces Places', 6, 2017, 903996.00, 7.9),
('Inception', 1, 2010, 836836967.00, 8.8),
('Lady Bird', 2, 2017, 78965367.00, 7.4);

 * postgresql+psycopg2://gabeschwartz:***@localhost:5432/postgres
Done.
Done.
Done.
Done.
6 rows affected.
8 rows affected.

[]

In [26]:
# Please import the necessary packages and establish the connection to the database
import psycopg2
from sqlalchemy import create_engine, text

engine = create_engine('postgresql+psycopg2://gabeschwartz:postgres@localhost:5432/postgres')
connection = engine.connect()

1. Write a query using `INNER JOIN` to display the movie title, director name, and box office earnings for all movies, ordered by box office earnings in descending order

In [27]:
# Your code goes here

connection.execute(text('''
SELECT 
    movies.title,
    directors.director_name,
    movies.box_office
FROM 
    movies
INNER JOIN 
    directors ON movies.director_id = directors.director_id
ORDER BY 
    movies.box_office DESC;
'''))
connection.commit()

2. Using a `LEFT JOIN`, find all directors and count the number of movies they have directed.

In [28]:
# Your code goes here

connection.execute(text('''
SELECT 
    directors.director_name,
    COUNT(movies.movie_id) AS movie_count
FROM 
    directors
LEFT JOIN 
    movies ON directors.director_id = movies.director_id
GROUP BY 
    directors.director_name;
'''))
connection.commit()

3. Write a `SELF JOIN` query to compare the ratings of movies by the same director. Show only pairs where the second movie has a higher rating than the first.

In [ ]:
# Your code goes here
connection.execute(text('''
SELECT m1.title AS movie1, m2.title AS movie2, d.director_name
FROM movies m1
JOIN movies m2 ON m1.director_id = m2.director_id AND m1.rating < m2.rating
JOIN directors d ON m1.director_id = d.director_id;
'''))
connection.commit()

4. Using appropriate joins, find directors who have made movies with above-average box office earnings (compared to all movies in the database).

In [29]:
# Your code goes here
connection.execute(text('''
SELECT DISTINCT d.director_name
FROM directors d
JOIN movies m ON d.director_id = m.director_id
WHERE m.box_office > (SELECT AVG(box_office) FROM movies);
'''))
connection.commit()

5. Create a query using `CROSS JOIN` to show all possible combinations of directors and movies, even if they did not direct them. Limit the output to 10 rows.

In [30]:
# Your code goes here
connection.execute(text('''
SELECT d.director_name, m.title
FROM directors d
CROSS JOIN movies m
LIMIT 10;
'''))
connection.commit()

6. Write a query that uses `UNION` to create a list of all director names and movie titles in a single column. Label the column `name` and include a column (called `type`) indicating if it is a director or movie. Order the results by type and name.

Hint: Use `'Director'` and `'Movie'` as the labels for the second column. Please also use `as type` to rename the column (example `director_name as name, 'Director' as type`).

In [31]:
# Your code goes here
connection.execute(text('''
SELECT director_name AS name, 'Director' AS type
FROM directors
UNION
SELECT title AS name, 'Movie' AS type
FROM movies
ORDER BY type, name;
'''))
connection.commit()

7. Using appropriate joins, find the director with the highest average movie rating. Show only the row with the director's name, average rating, and number of movies.

In [32]:
# Your code goes here
connection.execute(text('''
SELECT d.director_name, AVG(m.rating) AS average_rating, COUNT(m.movie_id) AS movie_count
FROM directors d
JOIN movies m ON d.director_id = m.director_id
GROUP BY d.director_name
ORDER BY average_rating DESC
LIMIT 1;   
'''))
connection.commit()

8. Create a query using `LEFT JOIN` and `IS NULL` to find whether there are directors who have not directed any movies.

In [33]:
# Your code goes here
connection.execute(text('''
SELECT d.director_name
FROM directors d
LEFT JOIN movies m ON d.director_id = m.director_id
WHERE m.movie_id IS NULL; 
'''))
connection.commit()

9. Using appropriate joins, find pairs of movies released in the same year, along with their directors' names. Please do not match a movie with itself.

In [35]:
# Your code goes here

connection.execute(text('''
SELECT m1.title AS movie1, m2.title AS movie2, d1.director_name AS director1, d2.director_name AS director2
FROM movies m1
JOIN movies m2 ON m1.release_year = m2.release_year AND m1.movie_id < m2.movie_id
JOIN directors d1 ON m1.director_id = d1.director_id
JOIN directors d2 ON m2.director_id = d2.director_id;
'''))
connection.commit()

10. Show the age of each director when they released their movies. Create a column entitled `age_at_release` in your output. Order the results by the director's name and the movie's release year.

In [ ]:
# Your code goes here

connection.execute(text('''
SELECT d.director_name, m.title, m.release_year, (m.release_year - d.birth_year) AS age_at_release
FROM directors d
JOIN movies m ON d.director_id = m.director_id
ORDER BY d.director_name, m.release_year;
'''))
connection.commit()

Good luck! üòÉ